* {
	margin: 0px;
	padding: 0px;
}
ul li {
	list-style-type: none;
}
a {
	text-decoration: none;
}

.all {
	width: 1366px;
	height: 1500px;
}

.one {
	width: 1366px;
	height: 120px;
	background-image: url(../img/xiaomi.jpg);
	background-repeat: no-repeat;
	background-position: -606px 0px;
}
.two{
	width: 1366px;
	height: 40px;
	background-color: #333;
}

.two-1 li {
	float: left;
}
.two-1 li a,
.gwc div,
.two-2 li a {
	font-size: 12px;
	color: #b0b0b0;
}
#sx {
	font-size: 12px;
	color: #5f5757;
	line-height: 40px;
	margin: 0px 6px;
}
#wz {
	line-height: 40px;
}
.wz-1 {
	margin-left: 70px;
}
.two .gwc div,
.two .gwc .che,
.two-2 li {
	float: right;
}
.two-2 .wz-2 {
	margin-right: 10px;
}
.gwc div {
	display: block;
	width: 120px;
	height: 40px;
	line-height: 40px;
	background-color: #575C57;
	background-image: url(../img/che1.png);
	background-repeat: no-repeat;
	background-size: 16px 16px;
	background-position: 15px 12px;
	text-indent: 3em;
	margin-right: 70px;
}
.two-1 li a:hover,
.two-2 li a:hover {
	color: white;
}
.gwc div:hover {
	color: orange;
	background-color: white;
	background-image: url(../img/che2.png);
}
.three {
	width: 1226px;
	height: 100px;
	line-height: 100px;
	margin: 0 auto;
}

.three-1 {
	width: 55px;
	height: 55px;
	background-image: url(../img/mi.png);
	background-size: 55px 55px;
	background-repeat: no-repeat;
	position: absolute;
	right: 1224px;
	top: 180px;
}
.three-2 {
	width: 992px;
	height: 100px;
	float: right;
}
.three-2-1 ul li a {
	color: #333;
	font-size: 16px;
	margin: 0px 10px 0px 10px;
	float: left;
}
.three-2-1 ul li a:hover {
	color: #f76218;
}
.three-2-2 input {
	border: none;
	width: 245px;
	height: 50px;
	border: 1px solid gray;
	float: right;
	padding-left: 10px;
}
.three-2-2 {
	position: absolute;
	top: 180px;
	left: 980px;
}
.ss {
	width: 50px;
	height: 50px;
	background-image: url(../img/ss.png);
	background-repeat: no-repeat;
	background-size: 30px 30px;
	background-position: 12px 12px;
	position: absolute;
	top: 0px;
	left: 246px;
	border: 1px solid gray;
	background-color: white;
}
.four {
	width: 1226px;
	height: 460px;
	margin: 0 auto;
}
.four-1 {
	width: 234px;
	height: 460px;
	background-color: #333;
}
.four-1 ul li {
	width: 204px;
	height: 42px;
	line-height: 42px;
	padding-left: 30px;
}
.four-1 ul {
	padding-top: 25px;
}
.four-1 ul li a	{
	color: white;
}
.four-1 ul li:hover {
	background-color: #D66903;
}
.four-2 {
	width: 992px;
	height: 460px;
	background-image: url(../img/hl.jpg);
	background-repeat: no-repeat;
	background-size: 992px 460px;
	position: absolute;
	top: 260px;
	left: 304px;
}
.five {
	width: 1226px;
	height: 170px;
	margin: 15px auto 0px;
}
.five-1 {
	width: 233px;
	height: 170px;
	background-color: #333;
	float: left;
}
.five-1 ul li a {
	color: #BFBAB4;
}
.five-1 ul li {
	width: 70px;
	height: 82px;
	text-align: center;
	float: left;
}
.five-1 ul {
	line-height: 82px;
}
.five-1 ul li a:hover {
	color: white;
}

.five-2 {
	float: right;
}
.five-2 div {
	width: 316px;
	height: 170px;
	background-color: skyblue;
	float: right;
	margin-left: 15px;
}
.five-2-1 {
	width: 316px;
	height: 170px;
	background-image: url(../img/hm6.jpg);
	background-repeat: no-repeat;
	background-size: 316px 170px;
}
.five-2-2 {
	width: 316px;
	height: 170px;
	background-image: url(../img/hm5.jpg);
	background-repeat: no-repeat;
	background-size: 316px 170px;
}
.five-2-3 {
	width: 316px;
	height: 170px;
	background-image: url(../img/200.jpg);
	background-repeat: no-repeat;
	background-size: 316px 170px;
}

div.six {
	line-height: 58px;
	color: gray;
	font-size: 22px;
	font-weight: 200;
	margin-left: 70px;
}

.One {
	width: 230px;
	height: 340px;
	margin: 0px 15px 0px 70px;
	background-color: #f1eded;
	border-top: 1px solid #e53935;
	text-align: center;
	font-size: 21px;
}
.a1 {
	color: #e53935;
	margin-top: 60px;
}
.a2 {
	margin-top: 30px;
	margin-bottom: 30px;
}
.a3 {
	color: rgba(0,0,0,0.6);
	font-size: 15px;
}
span {
	display: inline-block;
}
.b1 {
	color: white;
	width: 46px;
	height: 46px;
	background-color: #605751;
	line-height: 46px;
	margin-top: 30px;
}
.b2 {
	font-size: 30px;
	width: 16px;
	height: 46px;
	line-height: 46px;
	margin-top: 30px;
}

.Two {
	width: 230px;
	height: 340px;
	margin: 0px 15px 0px 0px;
	border: 1px solid orange;
	background-color: white;
	text-align: center;
	font-size: 21px;
	margin-left: 8px;
}
.a5 {
	width: 160px;
	height: 166px;
	background-image: url(../img/maojing.jpg);
	background-size: 160px 166px;
	margin: 50px auto 22px;
}
.a6 {
	font-size: 15px;
}
.a7 {
	color: #968c78;
	font-size: 10px;
	margin-top: 5px;
}
.b3 {
	color: #f76c06;
	font-size: 16px;
}
.b4 {
	color: #968c78;
	font-size: 16px;
	text-decoration: line-through;
}
.a8 {
	margin-top: 10px;
}

.There {
	width: 230px;
	height: 340px;
	margin: 0px 15px 0px 0px;
	border: 1px solid #49BC22;
	background-color: white;
	text-align: center;
	font-size: 21px;
}
.a9 {
	width: 160px;
	height: 166px;
	background-image: url(../img/fengshan.jpg);
	background-size: 160px 166px;
	margin: 50px auto 22px;
}

.Four {
	width: 230px;
	height: 340px;
	margin: 0px 15px 0px 0px;
	border: 1px solid #337BD4;
	background-color: white;
	text-align: center;
	font-size: 21px;
}
.a10 {
	width: 160px;
	height: 166px;
	background-image: url(../img/shouji.jpg);
	background-size: 160px 166px;
	margin: 50px auto 22px;
}

.Five {
	width: 230px;
	height: 340px;
	margin: 0px 15px 0px 0px;
	border: 1px solid #e53935;
	background-color: white;
	text-align: center;
	font-size: 21px;
}
.A11 {
	width: 160px;
	height: 166px;
	background-image: url(../img/erji.jpg);
	background-size: 160px 166px;
	margin: 50px auto 22px;
}
.seven ul li {
	float: left;
	list-style-type: none;
}